// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* CSS HEX */
$cinnamon-satin: #d55a7fff;
$blush: #ea638cff;
$pink-pantone: #cf5089ff;
$mulberry: #c14688ff;
$fandango: #b33c86ff;
$midnight: #66256bff;
$russian-violet: #401a5dff;
$midnight-blue: #190e4fff;
$russian-violet-2: #0e083eff;
$oxford-blue: #03012cff;

