<div class="home-container">
  <h1 class="standard-padding color-white bold text-shadow">StereoFeels</h1>
  <h2 class="standard-padding color-white skinny">Finally, a way to make you feel in control of your emotions using music</h2>

  <div class="standard-padding">
  <a src="#" class="main-button"> SEE TRACKS</a>
  </div>

  <p class="home-hashtags standard-padding color-white">I feel like... #sundaymorningcoffee #poolday #vacation #spooky #romantic #morningwalk #meditating #relaxation #aggresive #horrormovies #hipsterparty #gettingmellow #studying #cooking</p>
</div>
