h1 {
  font-size: 80px;
}

h2 {
  font-size: 44px;
}

p {
  font-size: 24px;

}

.color-white {
  color: #fff;
}

.bold {
  font-weight: 900;
}

.skinny {
  font-weight: 100;
}

.text-shadow {
  text-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
